{% extends 'base.html' %}

{% block title %} #RaviПишет {% endblock %}

{% block content %}
    {% if latest_articles_list %}

        <div class="card-columns">



        {% for a in latest_articles_list %}
            <div class="card border-dark" >


                <img src= "{{ MEDIA_URL }}{{ a.photo.photo_file }}" class="card-img-top" alt="...">
                <div class="card-body">
                   media: {{ MEDIA_URL }}
                    root: {{ MEDIA_ROOT }}
                  <h5 class="card-title">{{ a.article_title }}</h5>
                  <p class="card-text">{{ a.article_text|linebreaks }}</p>
                </div>

                <a href="{% url 'articles:detail' a.id %}">{{ a.article_title }}</a></br>

                <i>{{ a.pub_date }}</i></br>
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}